*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
.a{
    background-color:lightgray;
    width:100%;
    height:14vh;
    padding: 20px;
}
.b{
    background-color:rgb(132, 200, 223);
    width:75px;
    height:100%;
}
.c{
    width:100%;
    height:30vh;
    padding: 60px 175px;
    font-size: 26px;
}
.d{
    background-color:blue;
    width:100%;
    height:14vh;
}
.e{
    background-color:turquoise;
    width:100%;
    height:14vh;
}
.f{
    background-color:lightgreen;
    width:100%;
    height:14vh;
}
.g{
    background-color:yellow;
    width:100%;
    height:14vh;
}